.message {
    margin-top: 10px;
    padding: 24px 70px 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    border-top: 1px solid #d9d9d9;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 13px
}

.imageAndText img {
    margin-top: 5px;

    width: 48px;
    height: 48px;

    border-radius: 100%;
}

.text {
    padding: 7px 13px;

    background-color:#06c;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);    
}

.text:after {
    
}

.name { 
    padding-bottom: 3px;

    text-align: right;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.messageText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.time {  
    margin-right: 10px;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #000;
}